In [1]:
import pandas as pd

##Customer's Table

In [4]:
customers_df = pd.read_csv('Customers.csv', index_col='CustomerKey', encoding = 'unicode_escape')
customers_df.tail(5)

,Gender,Name,City,State Code,State,Zip Code,Country,Continent,Birthday
CustomerKey,,,,,,,,,
2099600,Female,Denisa Duková,Houston,TX,Texas,77017,United States,North America,3/25/1936
2099618,Male,Justin Solórzano,Mclean,VA,Virginia,22101,United States,North America,2/16/1992
2099758,Male,Svend Petrussen,Wilmington,NC,North Carolina,28405,United States,North America,11/9/1937
2099862,Female,Lorenza Rush,Riverside,CA,California,92501,United States,North America,10/12/1937
2099937,Male,Zygmunt Kaminski,Bloomfield Township,MI,Michigan,48302,United States,North America,8/18/1965

- 10 columns:CustomerKey, Gender, Name, City, State Code, State, Zip Code, Country, Continenet and Birthday.

In [5]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15266 entries, 301 to 2099937
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Gender      15266 non-null  object
 1   Name        15266 non-null  object
 2   City        15266 non-null  object
 3   State Code  15256 non-null  object
 4   State       15266 non-null  object
 5   Zip Code    15266 non-null  object
 6   Country     15266 non-null  object
 7   Continent   15266 non-null  object
 8   Birthday    15266 non-null  object
dtypes: object(9)
memory usage: 1.2+ MB

- 15266