In [5]:
import pandas as pd

## Customer's Table

In [6]:
customers_df = pd.read_csv('Customers.csv', index_col='CustomerKey', encoding = 'unicode_escape')
customers_df.tail(5)

,Gender,Name,City,State Code,State,Zip Code,Country,Continent,Birthday
CustomerKey,,,,,,,,,
2099600,Female,Denisa Duková,Houston,TX,Texas,77017,United States,North America,3/25/1936
2099618,Male,Justin Solórzano,Mclean,VA,Virginia,22101,United States,North America,2/16/1992
2099758,Male,Svend Petrussen,Wilmington,NC,North Carolina,28405,United States,North America,11/9/1937
2099862,Female,Lorenza Rush,Riverside,CA,California,92501,United States,North America,10/12/1937
2099937,Male,Zygmunt Kaminski,Bloomfield Township,MI,Michigan,48302,United States,North America,8/18/1965

In [7]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15266 entries, 301 to 2099937
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Gender      15266 non-null  object
 1   Name        15266 non-null  object
 2   City        15266 non-null  object
 3   State Code  15256 non-null  object
 4   State       15266 non-null  object
 5   Zip Code    15266 non-null  object
 6   Country     15266 non-null  object
 7   Continent   15266 non-null  object
 8   Birthday    15266 non-null  object
dtypes: object(9)
memory usage: 1.2+ MB

- 10 columns:CustomerKey, Gender, Name, City, State Code, State, Zip Code, Country, Continenet and Birthday.

- 15266 entries.
- No null entries
- All columns are listed as object, upon observing data that does not seem to be correct.

In [8]:
customers_df.duplicated().sum()

0

- No duplicated entries.

In [9]:
customers_df.nunique()

Gender            2
Name          15118
City           8258
State Code      467
State           512
Zip Code       9505
Country           8
Continent         3
Birthday      11270
dtype: int64

- Gender, Country and Continent potential category columns.

In [10]:
customers_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15266 entries, 301 to 2099937
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Gender      15266 non-null  object
 1   Name        15266 non-null  object
 2   City        15266 non-null  object
 3   State Code  15256 non-null  object
 4   State       15266 non-null  object
 5   Zip Code    15266 non-null  object
 6   Country     15266 non-null  object
 7   Continent   15266 non-null  object
 8   Birthday    15266 non-null  object
dtypes: object(9)
memory usage: 8.8 MB

- 8.8 MB of memory.

In [11]:
customers_df['Gender'].unique()

array(['Female', 'Male'], dtype=object)

- Only two gender options.

In [12]:
customers_df['Gender'] = pd.Categorical(
    values = customers_df['Gender'], 
    categories = ['Female', 'Male'],
    ordered = True
)

In [13]:
customers_df['Country'].unique()

array(['Australia', 'Canada', 'Germany', 'France', 'Italy', 'Netherlands',
       'United Kingdom', 'United States'], dtype=object)

- Eight(8) different countries in the data: Australia, Canada, Germany, France, Italey, Netherlands, United Kingdom and United States.

In [14]:
customers_df['Country'] = pd.Categorical(
    values = customers_df['Country'],
    categories = ['Australia', 'Canada', 'Germany', 'France', 'Italy', 'Netherlands',
       'United Kingdom', 'United States'],
    ordered = True
)

In [15]:
customers_df['Continent'].unique()

array(['Australia', 'North America', 'Europe'], dtype=object)

- Three(3) different continents in the data: Australia, North America and Europe.

In [16]:
customers_df['Continent'] = pd.Categorical(
    values = customers_df['Continent'],
    categories = ['Australia', 'North America', 'Europe'],
    ordered = True
)

In [17]:
customers_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15266 entries, 301 to 2099937
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Gender      15266 non-null  category
 1   Name        15266 non-null  object
 2   City        15266 non-null  object
 3   State Code  15256 non-null  object
 4   State       15266 non-null  object
 5   Zip Code    15266 non-null  object
 6   Country     15266 non-null  category
 7   Continent   15266 non-null  category
 8   Birthday    15266 non-null  object
dtypes: category(3), object(6)
memory usage: 5.9 MB

- 5.9 MB of memory usage.

In [20]:
customers_df.astype({'Zip Code': 'int64'}).dtypes

ValueError: invalid literal for int() with base 10: 'V3L 5H1'

- Canada, Netherlands and United Kingdom utilize alpha-numeric zipcodes, this category must remain object.